@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Assistant", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    position: sticky;
    top: 0;
    left: 0;

}

.header-container {
    width: 1200px;
    height: 80px;
    /* border: 2px solid red; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 53px;
    height: 36px;
    background-image: url('../images/MyntraWebSprite_27_01_2021.png');
    background-size: 1404px 105px;
    background-position: -462px 0;
}

nav {
    width: 525px;
    height: 82px;
    /* border: 2px solid green; */
}

nav ul {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;


}

nav ul li {
    position: relative;
}

.new {
    position: absolute;
    color: #ff3f6c;
    font-size: 10px;
    right: -20px;
    top: -6px;
}

.search-box {
    width: 320px;
    height: 40px;
    padding: 8px 10px 10px;
    background-color: #f5f5f6;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
}



.search-box input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;

}

.info-box {
    width: 194px;
    height: 40px;
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
}

.info-box>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-container {
    width: 1250px;
    padding: 10px;
    border: 2px solid red;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    width: calc(16% - 10px);
    height: 300px;
    /* border: 2px solid red; */
}

.card img {
    width: 100%;
    height: 100%;
   
}