@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

a {
    text-decoration: none;
    color: inherit;
    font-family: "Poppins", sans-serif;

}

#topSection {
    width: 100%;
    height: 100vh;
    background-image: url('../img/banner-bg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(4, 9, 30, 0.5)
}

.center-container {
    max-width: 1140px;
    height: 100%;
    /* border: 2px solid red; */
    margin: auto;
}

.top-container {
    width: 100%;
    /* border: 2px solid yellow; */
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.icon-group {
    display: flex;
    gap: 20px;
}

header {
    width: 100%;
    padding: 12px 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header ul {
    display: flex;
    list-style: none;
    gap: 50px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: #222;
    transition: 400ms;
}

#openMenu {
    display: none;
}

.open {
    left: 0 !important;
}

.cardSection {
    width: 100%;
    background-color: #f9f9ff;
}

.cardsection-middle {
    max-width: 1170px;
    margin: 100px auto;
    padding: 10px;
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 25%;
    /* border: 2px solid green; */
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-size: clamp(15px, 2vw, 20px);
    /* font-size: 20px; */
}

.thumb {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}