* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #000000;
}

.main {
    width: 1170px;
    height: 1600px;
    background-color: #f1f0ef;
    margin: auto;
}

.top-container {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    height: 40px;
    background-color: #343130;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.top-left {
    display: flex;
    height: 40px;
    align-items: center;


}

.top-left-img {
    margin: 0px 13px 0px 23px;
}

.top-left-content {
    color: white;
    font-size: 20px;
}

.menu-container {
    width: 1170px;
    height: 140px;
    /* border: 2px solid red; */
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 165px;
}

.navBar {
    width: 900px;
    height: 140px;
    display: flex;
    justify-content: space-around;
    align-items: end;
    /* border: 2px solid red; */
}

.menu-item {
    padding-bottom: 20px;
    color: #343130;
    font-weight: bold;
    font-size: 20px;
}

.menu-item a {
    font-family: Arial, Helvetica, sans-serif;
}

.middle-container {
    width: 1170px;
    background-color: white;
    height: 735px;
    border: 20px #f1f0ef solid;
    border-bottom: none;
    display: flex;
    justify-content: space-between;


}

.middle-left {
    width: 260px;
    height: 750px;
    background-color: red;
}

.middle-right {
    width: 850px;
    height: 750px;
    background-color: green;
}