@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

header {
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: sticky;
    top: 0;
    left: 0;
}

.header-container {
    width: 1140px;
    /* border: 2px solid red; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-button {
    display: flex;
    gap: 20px;
}

.chatBtn {
    background: none;
    display: flex;
    padding: 10px 18px;
    gap: 10px;
    border: 1px solid #27AE60;
    border-radius: 8px;
    color: #27AE60;
    align-items: center;
    cursor: pointer;
}

.callBtn {
    padding: 10px 18px;
    background: linear-gradient(to left, #0ACEFE, #2699FB);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.top-section {
    width: 1140px;
margin-top: 20px;
    margin: auto;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;



}

.top-section-left {
    width: calc(50% - 20px);
    /* border: 2px solid green; */
}

.top-section-left h1{
    font-size: 52px;
    font-weight: 700;
    line-height: 68px;
}

.top-section-left h1 span{
    color: #2699FB;
    background-image: url('../images/Vector\ 63\ \(5\).png');
    background-position: bottom center;
    background-repeat: no-repeat;
}
.top-section-left p{
    font-size: 22px;
}

.top-section-right {
    width: calc(50% - 20px);
    
    /* border: 2px solid yellow; */

}