* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.input-box {
    max-width: 800px;
    padding: 10px;
    /* border: 2px solid red; */
    margin: auto;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    outline: none;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border: 2px solid red; */
    row-gap: 50px;
    column-gap: 10px;
}

.card {
    width: 24%;
    height: 350px;
    box-shadow: 0px 2px 10px white;
    position: relative;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
}

.overview {
    width: 100%;
    padding: 4px;
    position: absolute;
    background-color: white;
    bottom: -100%;
    left: 0;
    transition: 300ms;
}

button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 3px 6px;
    border: none;
    outline: none;
    background-color: teal;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card:hover .overview {
    bottom: 0px;
}