* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1004px;
    height: 544px;
    border: 2px solid red;
    margin: 10px auto;
}

.row1 {
    width: 1000px;
    height: 100px;
    border: 2px solid green;
    text-align: center;
    padding-top: 25px;
}

.row2 {
    width: 1000px;
    height: 40px;
    border: 2px solid firebrick;
}

.row2col {
    width: 199.2px;
    height: 36px;
    border: 1px solid gold;
    float: left;
    text-align: center;
}

.row3 {
    width: 1000px;
    height: 200px;
    border: 2px solid fuchsia;
}

.row3Left {
    width: 248px;
    height: 196px;
    border: 2px solid salmon;
    float: left;

}

.row3Right {
    width: 748px;
    height: 196px;
    border: 2px solid darkblue;
    float: left;




}