* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card {
  width: 300px;
  padding: 10px;
  box-shadow: 0px 10px 4px gray;
}

.card img {
  width: 100%;
  height: 200px;
}

.card>div {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 2px 10px;

}